$canvas-light: #adaea5;
$canvas-dark: #222220;
$pen: #f4f4f4;
$pen-dark: #82837c;
$brand-dark: #336222;
$brand-middle: #5bae3d;
$brand-light: #9dce8b;

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
html {
    font-size: 62.5%;
}
body {
    box-sizing: border-box;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.7;
    color: $pen;
    &::-webkit-scrollbar {
      width: .8rem;
      &-track {
        background-color: $canvas-light;
      }
      &-thumb {
        background-color: $canvas-dark;
        outline: 1px solid $canvas-dark;
      }
    }
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    &#hero {
        background-color: $canvas-light;
    }
    &#chart2 {
        background-color: $canvas-light;
    }
    svg {
        //box-shadow: 10px 10px 15px rgba(0,0,0,0.2);
        & rect {
            filter: drop-shadow(4px 3px 5px rgba(0, 0, 0, 0.3));
        }
    }
}
