$main-color: #666;

body {
    background-color: $main-color;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}
svg {
    box-shadow: 10px 10px 15px rgba(0,0,0,0.2);
    & rect {
        filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.8));
    }
}
