$canvas-light: #adaea5;
$canvas-dark: #222220;
$pen: #f4f4f4;
$pen-dark: #82837c;
$brand-dark: #336222;
$brand-middle: #5bae3d;
$brand-light: #9dce8b;
$chart-red: #d44848;
$chart-green: #57a298;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  scrollbar-color: $canvas-dark $canvas-light;
}
*::-webkit-scrollbar {
  width: 0.8rem;
  &-track {
    background-color: $canvas-light;
  }
  &-thumb {
    background-color: $canvas-dark;
    outline: 1px solid $canvas-dark;
  }
}
html {
  font-size: 62.5%;
}
body {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.7;
  color: $pen;
}
button {
  background-color: transparent;
  border: none;
  color: $pen;
  display: inline-block;
  font-size: 2rem;
  padding: 1rem 2rem;
  &:hover {
    color: darken($color: $pen, $amount: 15);
  }
  &:focus {
    outline: none;
  }
  &.selected {
    border-bottom: 0.4rem solid $pen;
    &:hover {
      border-bottom: 0.4rem solid darken($color: $pen, $amount: 15);
    }
  }
}
#bigcontainer {
  background-color: $canvas-light;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-weight: 300;
}
.tip,
.tip1 {
  color: $canvas-dark;
  background-color: $pen;
  padding: 5px 10px;
  border: 2px solid $brand-dark;
  box-shadow: 4px 3px 10px rgba(0, 0, 0, 0.3);
  text-align: center;
  & div {
    line-height: 1.2;
  }
}
.tip1 {
  border: 1.5px solid $pen;
  background-color: $canvas-dark;
  color: $pen;
  box-shadow: 4px 3px 5px rgba(0, 0, 0, 1);
}
.italic {
  //font-style: italic;
  font-family: "Reenie Beanie", cursive;
  font-size: 3.2rem;
  line-height: 2.6rem;
  letter-spacing: normal;
}
section {
  min-height: 100vh;
  width: 100%;
  background-color: $canvas-light;
  &#hero {
    max-width: 160rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr) 30rem;
    grid-template-rows: repeat(3, 1fr);
    & #hero-bg {
      grid-area: 1/1/-1/4;
      background-image: url(./assets/zthero.png);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
    & #hero-k01 {
      grid-area: 2/1/-1/3;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 10;
      opacity: 0;
      animation: logo 3s ease forwards;
      & svg {
        //filter: drop-shadow(9px 9px 6px rgba(0, 0, 0, 0.7));
        transform: translate(9px, 9px);
        filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.7));
        animation: logo-shadow 1s ease-out forwards 3.5s;
      }
    }
    & #hero-info {
      transform: translateY(3rem);
      grid-area: 1/-2/-1/-1;
      background-color: $canvas-dark;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      padding-top: 5rem;
      clip-path: polygon(0 0, 100% 0, 100% 60%, 0 97%);
      & .container {
        font-size: 2.5rem;
        font-weight: 300;
        width: 80%;
        letter-spacing: 0.1rem;
        & p span.italic {
          color: $chart-green;
          font-size: 4rem;
          //font-weight: 800;
        }
      }
    }
  }
  &#chart1 {
    background-color: $canvas-dark;
    display: flex;
    justify-content: center;
    align-items: center;
    & .innercointainer {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      justify-items: center;
      align-items: center;
      max-width: 160rem;
      height: 100vh;
      & #chart1container {
        //border: 0.1rem solid $pen;
        grid-area: 1/1/3/2;
        & svg text {
          pointer-events: none;
        }
        & svg circle {
          filter: drop-shadow(4px 3px 5px rgba(0, 0, 0, 1));
        }
      }
      & img.legend1 {
        grid-area: 1/2/2/3;
        max-width: 50%;
      }
      & .legend1-text {
        grid-area: 2/2/3/3;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        & h3 {
          font-size: 3.7rem;
          background-color: $canvas-light;
          padding: 1rem 3rem;
          color: $canvas-dark;
          justify-self: center;
          display: inline-block;
        }
        & p {
          text-align: center;
          padding: 1rem;
          letter-spacing: 0.2rem;
        }
      }
    }
  }
  &#chart2 {
    max-width: 160rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    background-color: $canvas-light;
    & .title {
      grid-area: 1/1/2/2;
      width: 50%;
      & h1 {
        line-height: 5rem;
        display: inline-block;
        font-weight: 800;
        font-size: 6rem;
        color: $canvas-light;
        text-shadow: -1px -1px 0 $pen, 1px -1px 0 $pen, -1px 1px 0 $pen,
          1px 1px 0 $pen;
      }
    }
    & .circlecontainer {
      grid-area: 1/1/-1/2;
      align-self: end;
      justify-self: end;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 80%;
      transform: translateX(10rem);
      & svg#circle {
        width: 80%;
        height: 80%;
        //transform: translateX(10rem);
        fill: $brand-middle;
        filter: blur(2.2rem);
      }
    }
    & h3 {
      justify-self: end;
      width: 80%;
      color: $canvas-dark;
      font-size: 4rem;
      line-height: 4rem;
      text-align: center;
      font-weight: 800;
      grid-area: 2/1 / span 2/2;
      z-index: 2;
      & span {
        color: $pen;
      }
    }
    & .chartbtns {
      grid-area: 1/2 / span 2/-1;
      & .btns {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    & img.legend {
      width: 26rem;
      grid-area: 3/2/-1/-1;
      align-self: start;
    }
    & svg {
      //box-shadow: 10px 10px 15px rgba(0,0,0,0.2);
      & rect {
        filter: drop-shadow(4px 3px 5px rgba(0, 0, 0, 0.3));
      }
    }
  }
  &#chart3 {
    background-color: $canvas-dark;
    display: flex;
    justify-content: center;
    align-items: center;
    & .innercontainer {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, auto);
      justify-items: center;
      align-items: center;
      max-width: 160rem;
      height: 100vh;
      & img#wallets {
        grid-area: 1/2/4/3;
        width: 61.2rem;
        filter: drop-shadow(3px 3px 5px rgba(0, 0, 0, 1));
      }
      & img#bp {
        grid-area: 1/1/2/2;
        //width: 27rem;
        width: 50%;
        filter: drop-shadow(3px 3px 5px rgba(0, 0, 0, 1));
      }
      & .chart3-title {
        grid-area: 2/1/3/2;
        display: flex;
        justify-content: center;
        align-items: center;
        & img {
          width: 7rem;
          filter: drop-shadow(3px 3px 5px rgba(0, 0, 0, 1));
        }
        & h3 {
          font-size: 3.7rem;
          padding: 0 2rem;
          & .red {
            color: $chart-red;
          }
          & .green {
            color: $chart-green;
          }
        }
      }
      & p {
        grid-area: 3/1/4/2;
        color: $pen;
        padding: 2rem;
        text-align: center;
        letter-spacing: 0.2rem;
      }
    }
  }
}
@keyframes logo {
  0% {
    opacity: 0;
    transform: translateX(-62rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes logo-shadow {
  0% {
    transform: translate(9px, 9px);
    filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.7));
  }
  100% {
    transform: translate(0, 0);
    filter: drop-shadow(9px 9px 6px rgba(0, 0, 0, 0.7));
  }
}
